:root {
  --color-banner-main-background: var(--color-light-gray);
  --color-banner-main-hairline: var(--color-dark-gray);
  --color-banner-main-text: var(--color-dark-gray);
  --color-banner-main-title: var(--color-dark-gray);
}
