:root {
  --color-banner-supplemental-background: var(--color-light-gray);
  --color-banner-supplemental-cta: var(--color-dark-gray);
  --color-banner-supplemental-cta-background: transparent;
  --color-banner-supplemental-cta-border: var(--color-darker-background);
  --color-banner-supplemental-heading: var(--color-dark-gray);
}
