:root {
  --color-icon-button-background-positive: rgba(var(--color-green-positive), 0.8);
  --color-icon-button-background-positive-hover: rgba(var(--color-green-positive), 1);
  --color-icon-button-background-negative: rgba(var(--color-yellow-negative), 0.8);
  --color-icon-button-background-negative-hover: rgba(var(--color-yellow-negative), 1);
  --color-icon-button-background: transparent;
}
