:root {
  --color-footer-link: var(--color-dark-gray);
  --color-footer-link-hover: var(--color-darker-gray);
  --color-footer-social-icon: var(--color-darker-gray);
  --color-footer-social-label: var(--color-darker-gray);
  --color-footer-social-label-lg: var(--color-dark-gray);
}
