:root {
  --color-gauge-bar-indicator-negative: rgba(var(--color-yellow-negative), 0.6);
  --color-gauge-bar-indicator-positive: rgba(var(--color-green-positive), 0.6);
  --color-gauge-bar-text: var(--color-white);
}
