:root {
  --color-header-closing-gauge-background: var(--color-light-background);
  --color-header-closing-gauge-left: var(--color-white);
  --color-header-closing-gauge-left-number: var(--color-dark-gray);
  --color-header-closing-gauge-left-description: var(--color-dark-gray);
  --color-header-closing-gauge-left-arrow: var(--color-dark-background);
  --color-header-closing-gauge-left-background: var(--color-dark-background);
}
