:root {
  --color-nav-hamburger: var(--color-white);
  --color-nav-link: var(--color-white);
  --color-nav-links-background: var(--color-darker-background);
  --color-nav-logo: var(--color-white);
  --color-nav-search: var(--color-white);
  --color-nav-search-input: var(--color-white);
  --color-nav-search-input-border: var(--color-white);
  --graient-nav-background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%);
}
