:root {
  --box-shadow-select: 0 4px 4px rgba(0, 0, 0, 0.25);
  --color-select-background: var(--color-white);
  --color-select-border: var(--color-darker-gray);
  --color-select-hover: var(--color-light-gray);
  --color-select-text: var(--color-darker-gray);
}
