@font-face {
  font-display: block;
  font-family: 'zemoga-icons';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/zemoga-icons/zemoga-icons.eot?y7fjk0');
  src: url('/assets/fonts/zemoga-icons/zemoga-icons.eot?y7fjk0#iefix') format('embedded-opentype'),
    url('/assets/fonts/zemoga-icons/zemoga-icons.ttf?y7fjk0') format('truetype'),
    url('/assets/fonts/zemoga-icons/zemoga-icons.woff?y7fjk0') format('woff'),
    url('/assets/fonts/zemoga-icons/zemoga-icons.svg?y7fjk0#zemoga-icons') format('svg');
}

[class^='zmg-icon-'],
[class*=' zmg-icon-'] {
  font-family: 'zemoga-icons' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: never;
  text-transform: none;
}

.zmg-icon-close::before {
  content: '\e900';
}

.zmg-icon-facebook::before {
  content: '\e901';
}

.zmg-icon-hamburger::before {
  content: '\e902';
}

.zmg-icon-search::before {
  content: '\e903';
}

.zmg-icon-thumbs-down::before {
  content: '\e904';
}

.zmg-icon-thumbs-up::before {
  content: '\e905';
}

.zmg-icon-twitter::before {
  content: '\e906';
}

.zmg-icon-wikipedia::before {
  content: '\e907';
}

.zmg-icon-triangle-down::before {
  content: '\e908';
}
