<aside class="banner banner-main" role="doc-tip" aria-label="Speak Out">
  <div class="banner__left">
    <span class="banner__hairline">Speak out. Be heard.</span>
    <span class="banner__title">Be counted</span>
  </div>
  <div class="banner__right">
    <p class="banner__text">
      Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely.
      It’s easy: You share your opinion, we analyze and put the data in a public report.
    </p>
  </div>
  <button class="icon-button" aria-label="close">
    <i class="zmg-icon zmg-icon-close" aria-hidden="true"></i>
  </button>
</aside>
