button {
  cursor: pointer;
}

.icon-button {
  background-color: var(--color-icon-button-background);
  border: 0;
  font-size: 1.25rem;
  padding: 0;
  text-align: center;
  transition: background-color 0.5s;

  &:focus {
    outline: 2px dotted var(--color-icon-button-outline-focus);
  }

  &--active {
    outline: 2px solid var(--color-icon-button-outline-active);
  }

  &--positive {
    background-color: var(--color-icon-button-background-positive);

    &:hover {
      background-color: var(--color-icon-button-background-positive-hover);
    }
  }

  &--negative {
    background-color: var(--color-icon-button-background-negative);

    &:hover {
      background-color: var(--color-icon-button-background-negative-hover);
    }
  }
}

.default-button {
  @include font(15px, 18px);
  background-color: var(--color-default-button-background);
  border: 1px solid var(--color-default-button-border);
  color: var(--color-default-button-text);
  padding: 9px 20px;
  transition: background-color 0.5s;
  white-space: nowrap;

  &:hover {
    background-color: var(--color-default-button-hover-background);
  }

  &:disabled {
    background-color: var(--color-default-button-disabled-background);
    cursor: not-allowed;
  }

  &:focus {
    outline: 1px dotted var(--color-default-button-focus-outline);
  }
}
