<footer class="footer">
  <div class="footer__links">
    <ul>
      <li>
        <a href="#">Terms and Conditions</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="footer__social">
    <span>Follow us</span>
    <ul>
      <li>
        <a href="https://www.facebook.com/" aria-label="facebook">
          <i class="zmg-icon-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/" aria-label="twitter">
          <i class="zmg-icon-twitter" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
