<aside class="banner" role="doc-tip" aria-label="Submit a name">
  <figure class="banner__background">
    <img
      srcset="assets/images/backgrounds/bg-people.png 750w, assets/images/backgrounds/bg-people@2x.png 1440w"
      sizes="(min-width: 750px) 1440px, 100vw"
      src="assets/images/backgrounds/bg-people.png"
      alt=""
      role="none"
    />
  </figure>
  <div class="banner__left">
    <h2 class="banner__heading">Is there anyone else you would want us to add?</h2>
  </div>
  <div class="banner__right">
    <button class="banner__cta">Submit a name</button>
  </div>
</aside>
